<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleIdentifier</key>
	<string></string>
    <key>NSFaceIDUsageDescription</key>
    <string>$(PRODUCT_NAME) Authentication with TouchId or FaceID</string>
	<key>NSCameraUsageDescription</key>
	<string>Please allow use camera</string>
</dict>
</plist>
